name: Code Climate Test Reporter
on: [push, pull_request]

permissions:
  contents: read

jobs:
  code-climate:
    runs-on: ubuntu-latest
    steps:
      - uses: remarkablemark/setup-codeclimate@v2
      - run: |
          cc-test-reporter before-build
          npm run coverage
          cc-test-reporter after-build --exit-code $?
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
